<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104799624786-nf6g2i7g4qu7jhi9njguec72pbeo70f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104799624786-nf6g2i7g4qu7jhi9njguec72pbeo70f4</string>
	<key>API_KEY</key>
	<string>AIzaSyBdZlD8rF57nxS2bp2B96gr7kJw8GY9ML0</string>
	<key>GCM_SENDER_ID</key>
	<string>104799624786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.the-tone-knows-inc.kraken.example.ToneKnows</string>
	<key>PROJECT_ID</key>
	<string>tone-knows-inc</string>
	<key>STORAGE_BUCKET</key>
	<string>tone-knows-inc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104799624786:ios:0d4a8c9d4ea67dfcd5c98b</string>
</dict>
</plist>