<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpJASaO0OlZuQ9lCgSsw4EfCSokLn_jUY</string>
	<key>GCM_SENDER_ID</key>
	<string>708480134496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.the-tone-knows-inc.demo1</string>
	<key>PROJECT_ID</key>
	<string>the-tone</string>
	<key>STORAGE_BUCKET</key>
	<string>the-tone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708480134496:ios:1796ea053201acfd920205</string>
</dict>
</plist>